.DS_Store
__pycache__/
*.fits
*.fits.gz
*.tar
*.tar.gz
*.h5
.ipynb_checkpoints/
/test_data/
PLUGIN_NOTES.txt
*.egg-info/
build/
dist/
.pytest_cache/
*.pyc
/notes_backups/
/Jamie_processing/
/auto_examples_Jupyter/
/pypff/
*.ipynb

